[Desktop Entry]
#Version=13.0
Type=Application
Terminal=false
Icon[en_US]=/home/namaek_2/applications/clion/bin/clion.png
Name[en_US]=CLion
Exec=/home/namaek_2/applications/clion/bin/clion
Name=CLion
Icon=/home/namaek_2/applications/clion/bin/clion.png
