[Desktop Entry]
#Version=13.0
Type=Application
Terminal=false
Icon[en_US]=/home/namaek_2/applications/idea/bin/idea.png
Name[en_US]=IntelliJ
Exec=/home/namaek_2/applications/idea/bin/idea
Name=IntelliJ
Icon=/home/namaek_2/applications/idea/bin/idea.png
